@import "src/styles/main";

.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: $small-button-border-radius;
  background-color: $white-color;
  width: px-to-rem(36px);
  height: px-to-rem(36px);
  cursor: pointer;
  transition: all .5s;


  .filterModalCross {
    fill:$filter-closing-button;
  }
  
  &:hover {
    background-color: $filter-closing-button;


    .filterModalCross {
      fill: $white-color;
    }
  }
}
