@import "src/styles/main";

.editingConfirmationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $small-button-border-radius;
  background-color: $white-color;
  width: px-to-rem(32px);
  height: px-to-rem(32px);
  cursor: pointer;
  transition: all .5s;

  .checkmark  {
    fill: $main-turquoise-color;
  }

  &:hover {
    background-color: $main-turquoise-color;

    .checkmark {
      fill: $white-color;
    }
  }
}




